body {
	margin: 10px;
  /* font-family: Helvetica, "Arial sans-serif", Arial, sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #2C4C69;
}
form {
	padding: 0 0;
	margin: 0;
}
input {
	font-size: .9em;
	padding: 0 0;
	margin: 0;
}
th {
	font-size: 9pt;
  text-align: center;
	padding: 0;
}
a { color: #000080; }
a.tabs {text-decoration:none; color: #000;}
a.tabsinactive {text-decoration:none; color: #777;}
a.tabsinactive:hover {text-decoration:none; color: #000;}
a.menu { font-size: 10pt; }
table.tabs {
	border-style: none;
	border-width: 0px;
	border-spacing: 0px;
	color: #000;
	float: left;
	text-align: left;
	padding: 0px;
	margin: 0;
  	background-color: transparent;
  }
td.active {
	-moz-border-radius: 5px 5px 0px 0px;
	border-color: #000;
	border-width: 2px;
	border-style: solid;
	border-spacing: 0;
	border-bottom-color: rgb(255, 255, 252);
  background-color: rgb(255, 255, 252);
	color: #000;
	float: left;
	width: 100px;
	cursor: default;
	padding: 2px;
	font-size: 10pt;
	text-align: center;
}
td.inactive:hover {
	background-color: #4679A7;
}
td.inactive {
	-moz-border-radius: 5px 5px 0px 0px;
	border-color: #000;
	border-width: 2px;
	border-style: solid;
	border-spacing: 0px;
	/* border-bottom: none;*/
	background-color: #ddd;
	color: #777;
	float: left;
	width: 100px;
	cursor: default;
	padding: 2px;
	font-size: 10pt;
	text-align: center;
}
td {
	vertical-align: top;
	padding: 0;
	font-size: 9pt;
}
td.tabcontainer {
	vertical-align: top;
	padding: 0 0;
	font-size: 9pt;
}
table.tabcontainer {
	-moz-border-radius: 0px 10px 10px 10px;
	border-color: #000;
	border-style: solid;
	border-width: 2px;
	border-top: none;
	color: #000;
	float: left;
	text-align: left;
	padding: 4px;
  background-color: rgb(255, 255, 252);
	width: 100%;
	height: 95%;
  }
table.container {
  -moz-border-radius: 5px 5px 5px 5px;
  text-align: left;
  border-spacing: 0;
  padding: 2 10 2 10;
	border: thin solid black;
  background-color: #fffffc;
}
table.buttons {
  -moz-border-radius: 5px 5px 5px 5px;
	border: thin solid black;
	color: #000;
	text-align: left;
	padding: 2;
  background-color: #2C4C69;
  background-color: #fffffc;
}
input.button {
	border-color: black;
  background-color: rgb(230,230,190);
	border-style: outset;
	padding: 2 4;
	margin: 0 1;
}
input.button:hover {
  background-color: #70b080;
}
input.button:active {
  	background-color: rgb(128,128,128);
}
input.edit {
	padding: 0 0;
	margin: 0 0;
  font-size: 8pt;
  width: 100%;
  height: 18px;
  background-color: #e0e0e0;
}
input.edit:hover {
	padding: 0 0;
	margin: 0 0;
  font-size: 8pt;
  width: 100%;
  background-color: #b0d0b0;
}
table.surveys {
	text-align:left;
	border-spacing:0;
	padding:4px;
	margin:0;
	border-style: none;
	background-color: #fffffc;
	width: 100%;
}
table.surveys td {
	padding-right:1px;
}
table.surveys td:first-child {
	text-align:center;
}
input.surveys {
	text-align: right;
	padding: 0;
	border: none;
	background-color: #ffffff;
}
th.surveys {
  border: thin solid black;
	border-right: none;
  text-align: center;
  padding: 0;
  background-color: #90c0a0;
}
th.rot {
	border: thin solid black;
	border-right: none;
	text-align: center;
	padding: 0;
	background-color: #b0d0b0;
}
td.surveys {
	text-align:right;
	padding:0;
	border-right: thin solid black;
	background-color: rgb(250,200,200);;
}
td.gridmdcl {
	border-left: thin solid black;
	border-bottom: thin solid black;
	background-color: white;
}
td.gridtclbot {
  	border-left: thin solid black;
	border-bottom: thin solid black;
}
td.grid {
  text-align: right;
  padding: 0 4 0 4;
	background-color: rgb(230,245,200);;

	
	
	background-color: white;
}
td.gridproj {
  text-align: right;
  padding: 0 4 0 4;
	background-color: rgb(230,245,200);;

	
	
  background-color: #ffb0b0;
}
td.gridro {
  text-align: right;
  padding: 0 4 0 4;

	
	
	background-color: rgb(220,235,200);;
}
td.gridro2 {
  text-align: right;
  padding: 0 4 0 4;

	
	
	background-color: rgb(250,250,200);;
}
td.gridrot {
  text-align: right;
  padding: 0 4 0 4;

	
	
  background-color: #e0e0c0;
}
td.gridrot2 {
  text-align: right;
  padding: 0 4 0 4;

	
	
  background-color: #f0f0d0;
}
