body {
	margin: 10px;
   font-family: Arial,Helvetica,"sans-serif",Tahoma;
  font-size: 10pt;
  color: black;
  background-color: #2C4C69;
}
form {
	padding: 0;
	margin: 0;
}
td {
	vertical-align: top;
	text-align: right;
	padding: 10;
  font-size: 10pt;
}
a { color: #000080; }
a.tabs {text-decoration:none; color: #000;}
a.tabsinactive {text-decoration:none; color: #777;}
a.tabsinactive:hover {text-decoration:none; color: #000;}
a.menu { font-size: 10pt; }
table.tabs {
	border-style: none;
	border-width: 0px;
	border-spacing: 0px;
	color: #000;
	/* float: left; */
	text-align: left;
	padding: 0px;
	margin: 0;
  	background-color: transparent;
  }
td.active {
	-moz-border-radius: 5px 5px 0px 0px;
	border-color: #000;
	border-width: 2px;
	border-style: solid;
	border-spacing: 0;
	border-bottom-color: rgb(255, 255, 252);
  	background-color: rgb(255, 255, 252);
	color: #000;
	width: 110px;
	cursor: default;
	padding: 2px;
	font-size: 10pt;
	text-align: left;
}
td.inactive:hover {
	background-color: #4679A7;
}
td.inactive {
	-moz-border-radius: 5px 5px 0px 0px;
	border-color: #000;
	border-width: 2px;
	border-style: solid;
	border-spacing: 0px;
	background-color: #ddd;
	color: #777;
	width: 110px;
	cursor: default;
	padding: 2px;
	font-size: 10pt;
	text-align: left;
}
table.container {
  padding: 0;
	max-width: 950px;
	min-width: 700px;
	-moz-border-radius: 5px 5px 5px 5px;
	border: thin solid black;
  background-color: #fffffc;
}
td.container {
	vertical-align: top;
	padding: 10 10;
	font-size: 10pt;
	}
table.container2 {
	border: none;
  background-color: #fffffc;
	padding: 2 60;
	max-width: 950px;
	mind-width: 700px;
}
td.container2 {
	border: none;
	vertical-align: top;
	padding: 10 10;
	font-size: 10pt;
	width: 33%;
	}

td.contacts {
	border: none;
	vertical-align: top;
	padding: 4 10;
	font-size: 10pt;
	width: 33%;
	}
td.email {
	border: none;
	vertical-align: top;
	padding: 0 0;
	font-size: 10pt;
	width: 33%;
	}
table.tabcontainer {
	-moz-border-radius: 0px 10px 10px 10px;
	border-color: #000;
	border-style: solid;
	border-width: 2px;
	border-top: none;
	color: #000;
	float: left;
	text-align: left;
	padding: 0px;
  background-color: rgb(255, 255, 252);
	max-width: 950px;
	min-width: 700px;
	margin: 0;
  }
/*
input {
	font-size: 9pt;
	line-height: 1.0;
	padding: 0 0 0 0;
}
*/
input.button {
	border-color: black;
  background-color: rgb(230,230,190);
	border-style: outset;
	padding: 2 4;
	margin: 0 1;
}
input.button:hover {
  background-color: #70b080;
}
input.button:active {
  	background-color: rgb(128,128,128);
}

table.surveys {
  text-align:left;
  border-spacing:0;
  padding:4px;
  margin:0;
  border-style: none;
  background-color: #fffffc;
  width: 100%;
}
table.surveys td {
  padding-right:1px;
}
table.surveys td:first-child {
  text-align:center;
}
input.surveys {
  text-align: right;
  padding: 0;
  border: none;
  background-color: #ffffff;
}
th.surveys {
  border: thin solid black;
  border-right: none;
  text-align: center;
  padding: 0;
  background-color: #4b7eaa;
}

td.gridmdcl {
  border-left: thin solid black;
  border-bottom: thin solid black;
  background-color: white;
}

td.grid {
  text-align: right;
  padding: 0 4 0 4;
  background-color: rgb(230,245,200);;

  
  
  background-color: white;
}
