body {
	margin: 10px;
   font-family: Arial,Helvetica,"sans-serif",Tahoma;
  font-size: 10pt;
  color: black;
  background-color: #2C4C69;
}
form {
	padding: 0;
	margin: 0;
}
td {
	vertical-align: top;
	text-align: right;
	padding: 5px;
	font-size: 10pt;
}
a { color: #000080; }
a.tabs {text-decoration:none; color: #000;}
a.tabsinactive {text-decoration:none; color: #777;}
a.tabsinactive:hover {text-decoration:none; color: #000;}
a.menu { font-size: 10pt; }
table.tabs {
	border-style: none;
	border-width: 0;
	border-spacing: 0;
	color: #000;
	/* float: left; */
	text-align: left;
	padding: 0;
	margin: 0;
  	background-color: transparent;
}
td.active {
	-moz-border-radius: 5px 5px 0 0;
	border-color: #000;
	border-width: 2px;
	border-style: solid;
	border-spacing: 0;
	border-bottom-color: rgb(255, 255, 252);
  	background-color: rgb(255, 255, 252);
	color: #000;
	width: 100px;
	cursor: default;
	padding: 2px;
	font-size: 10pt;
	text-align: center;
}
td.inactive:hover {
	background-color: #4679A7;
}
td.inactive {
	-moz-border-radius: 5px 5px 0 0;
	border-color: #000;
	border-width: 2px;
	border-style: solid;
	border-spacing: 0;
	background-color: #ddd;
	color: #777;
	width: 100px;
	cursor: default;
	padding: 2px;
	font-size: 10pt;
	text-align: center;
}
table.container {
	padding: 0;
	width: 950px;
	-moz-border-radius: 5px 5px 5px 5px;
	border: thin solid black;
	background-color: #fffffc;
}
td.container {
	vertical-align: top;
	padding:5px;
	font-size: 10pt;
}
table.container2 {
	border: none;
	background-color: #fffffc;
	padding:2px 60px;
	width: 950px;
}
td.container2 {
	border: none;
	vertical-align: top;
	padding:10px;
	font-size: 10pt;
	width: 33%;
}
td.contacts {
	border: none;
	vertical-align: top;
	padding:4px 10px;
	font-size:10pt;
	width:33%;
}
td.email {
	border:none;
	vertical-align:top;
	padding:4px 2px;
	font-size:10pt;
	width:33%;
}
table.tabcontainer {
	-moz-border-radius: 0 10px 10px 10px;
	border-color: #000;
	border-style: solid;
	border-width: 2px;
	border-top: none;
	color: #000;
	float: left;
	text-align: left;
	padding: 0;
	background-color: rgb(255, 255, 252);
	width: 950px;
	margin: 0;
}
/*
input {
	font-size: 9pt;
	line-height: 1.0;
	padding: 0 0 0 0;
}
*/
input.button {
	border-color: black;
  background-color: rgb(230,230,190);
	border-style: outset;
	padding:2px 4px;
	margin:0 1px;
}
input.button:hover {
  background-color: #70b080;
}
input.button:active {
  	background-color: rgb(128,128,128);
}
